.left-col{
    background-image: url("https://abs.twimg.com/sticky/illustrations/lohp_1302x955.png");
    font-size: 30vw;
    text-align: center;
}
.text-h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3.5vw;
    font-weight: 900;
}
.text-h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5vw;
    font-weight: 900;
}
.button-tw {
    border-radius: 15px;
    width: 50%;
    margin-bottom: 2%;

}
.or {
    width: 50%;
    font-size: 1vw;
    margin-bottom: 2%;
    text-align: center;
}
.warning {
    width: 50%;
    font-size: .7vw;
    margin-bottom: 2%;
    text-align: center;
}

